.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;

}

.popup-inner{
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #FFF;
}

.popup-inner .close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
}

.popupsec{
  display: none;
  position: fixed;
  left: 350px; right: 0px;
  top: 70px; bottom: 0px;
  opacity:.75;
  z-index:5;
  width:50px;
  height: 50px;
  /* background-color: rgba(0,0,0,0.2); */
  /* background-color: violet; */

  display: flex;
  justify-content: center;
  align-items: center;

}


.popupsec-inner{
  position: absolute;
  width: 600px; height: 400px;
  left: 50%; top: 50%;
  border: solid 2px #cccccc;
  background-color:darkslateblue;
  overflow-y:scroll;
  z-index:10;

  padding: 32px;
  max-width: 640px;
}

.popupsec-inner .close-btn{
  position: absolute;
  top: 16px;
  right: 50px;
}